<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if(user){ %>
          <span class="navbar-text">Logged in as: <%= user["email"] %></span>
          <form class="form-inline" action="/logout" method="POST">
            <button class="btn btn-outline-dark">Logout</button>
          </form>
          <% } else{ %>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <% } %>
      </div>
    </div>
  </nav>
</header>